<!-- <h1 class="masthead">What to share your thought and meet new friends?<br/> share your status now on statustree !  <p class="new-register"><%= link_to "Register now!", register_path %></p></h1> -->

<h2></h2>
<%= link_to "Post A New Status", new_status_path, class: "btn-status" %>
<section class="new-post-wrapper clearfix">
<% @statuses.each do |status| %>
 </section>
 <section class="status clearfix">
  <span class="avatar">

   <%= image_tag status.user.gravatar_url %>
   
   </span> 

  <h4>
    <%= link_to status.user.full_name, status %>

  </h4>
    <p> <%= truncate status.content, length:180 %> </p>

   <div class="meta">
     <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
     <span class="admin">
       <span class="edit-admin"><%= link_to "Edit", edit_status_path(status)  %></span>
        <span class="delete-admin"><%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %></span>
     </span>
   </div>
 
<% end %>
</section>