<p id="notice"><%= notice %></p>

<h2>
  <%= @status.user.full_name %>
</h2>

<p>
  <%= @status.content %>
</p>

<div class="content-edit">
<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %></div>
